@import "tailwindcss";

:root {
  --font-inter: 'Inter', system-ui, sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html[data-scroll-behavior="smooth"] {
  scroll-behavior: smooth;
}
